body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  padding: 20px 0;
}

h2 {
  color: #555;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li ul {
  margin: 10px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid #eee;
}

ul li ul li {
  background-color: transparent;
  margin: 0;
  padding: 5px 0;
  border: none;
  box-shadow: none;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
}

p {
  line-height: 1.6;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.deleteButton:hover {
  background-color: #990404;
}
.deleteButton {
  background-color: #e65151;
}
